<!DOCTYPE html>
<html>

<head>
    <title>Alvaro Perez-Diaz</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="shortcut icon" href="imgs/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    **[Dr. Alvaro Perez-Diaz](https://alvarop.me)**
    _Researcher & Data Scientist_
    _Senseye Predictive Maintenance, Siemens_

    <div class="navbar">
        <a href="https://alvarop.me/projects.html">Projects</a>
        <a href="https://scholar.google.com/citations?user=EQCORCgAAAAJ&hl=en" target="_blank">Publications</a>
        <a href="https://www.linkedin.com/in/alvaro-perez-diaz/" target="_blank">CV</a>
        <a href="https://github.com/alvaropp" target="_blank">GitHub</a>
    </div>

    {{ project_grid | safe }}

</body>

</html>

<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="markdeep.min.js" charset="utf-8"></script><script src="https://morgan3d.github.io/markdeep/latest/markdeep.min.js" charset="utf-8"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script>
