---
layout: default
---

<!DOCTYPE HTML>

<html>
	<head>
		<!-- Jinja 2 is supported by Flask!  Woohoo! -->
		<!-- Here come control statements if..else -->
		<title>{{ title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/masonry.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/magnific-popup.css') }}">
    </head>
    
	<body>
        {% for step in steps %}
        <article>
            <div>
            <!-- Location -->
            <h2>{{ step.location }}</h2>
            <!-- Lat and lon -->
            {{ step.lat }}, {{ step.lon }}
            </div>
            <!-- Date -->
            <p><em>{{ step.date }}</em><br />
            <!-- Description -->
            {% if step.description %}
            {{ step.description }}
            {% endif %} </p>
            <!-- Photos -->
            <div class="masonry">
                {% for photo in step.photos %}
                    <div class="brick">
                    <a href="{{ photo }}" class="image with-caption"><img src="{{ photo }}" alt="{{ step.title }}" /></a>
                    </div>
                {% endfor %}
            </div>
        </article>
        <hr>
        {% endfor %}

        <!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <!-- Magnific Popup core JS file -->
        <script src="{{ url_for('static',filename='js/jquery.magnific-popup.js') }}"></script>
        <!-- My custom popup file -->
        <script src="{{ url_for('static',filename='js/popup.js') }}"></script>
    </body>

</html>