---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <h4 class="post-description">{{ page.brief }}</h4>

    {% if page.skills %}
    <h5 class="post-description">Skills: {{ page.skills }}</h5>
    {% endif %}

    {% if page.awards %}
    <h5 class="post-description">Awards: {{ page.awards }}</h5>
    {% endif %}

    {% if page.featured %}
    <h5 class="post-description">Featured in: {{ page.featured }}</h5>
    {% endif %}

    {% if page.how-to %}
    <h5 class="post-description">How-to: {{ page.how-to }}</h5>
    {% endif %}

    <hr>
  </header>

  <article class="post-content {{page.title}} clearfix">
    {% if page.big_img %}
    <div class="img_single">
        <img class="col three" src="{{ page.big_img }}"/>
    </div>

    {% elsif page.video%}
    <div class="video">
      <iframe width="640" height="360" src="https://www.youtube.com/embed/{{ page.video }}" frameborder="0" allowfullscreen></iframe>
    </div>

    {% elsif page.no_img%}

    {% elsif page.img%}
    <div class="img_single">
        <img class="col three" src="{{ page.img }}"/>
    </div>
    {% endif %}

    {{ content }}
  </article>

  {% if page.news %}
    {% include news.html %}
  {% endif %}

  {% if page.social %}
    {% include social.html %}
  {% endif %}

</div>
