/* Base Styles */
.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; /* Prevent wrapping */
    overflow-x: auto;  /* Enable horizontal scrolling if needed */
}

.navbar a {
    padding: 14px 10px; /* Reduced horizontal padding */
    text-decoration: none;
    text-align: center;
    white-space: nowrap; /* Prevent text wrapping within links */
}

.project-item {
    text-align: center;
}

.project-item p {
    margin-top: 10px;
}

.project-item img {
    width: 80%;
    height: auto;
    max-height: 150px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap: 20px;
}

/* Styles for small/medium screens */
@media (max-width: 768px) {
    .navbar a {
        padding: 10px; /* Even smaller padding for mobile */
        flex-direction: column;
    }

    .project-item img {
        width: 150px; /* Fixed width for mobile */
        height: auto;
        max-width: none; /* Override max-width if previously set */
    }

    /* Adjust grid for two columns on mobile */
    .projects-grid {
        grid-template-columns: repeat(2, minmax(80px, 0.5fr));
    }
}

/* Styles for very small screens */
@media (max-width: 480px) {
    .projects-grid {
        grid-template-columns: 1fr; /* Single column layout */
    }

    .project-item img {
        width: 150px; /* Fixed width */
        height: auto;
        max-width: none;
    }
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

/* HTML5 hidden-attribute fix */
*[hidden] {
    display: none;
}
